In [15]:
from sqlalchemy import create_engine
import pandas as pd
# Postgres username, password, and database name
POSTGRES_ADDRESS = 'postgresdb' ## INSERT YOUR DB ADDRESS IF IT'S NOT ON PANOPLY
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'postgres' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES USERNAME
POSTGRES_PASSWORD = '12345' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES PASSWORD POSTGRES_DBNAME = 'database' ## CHANGE THIS TO YOUR DATABASE NAME
# A long string that contains the necessary Postgres login information
POSTGRES_DBNAME="postgres"

connection_format = "postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}"

postgres_str = s.connection_format(username=POSTGRES_USERNAME,password=POSTGRES_PASSWORD,ipaddress=POSTGRES_ADDRESS,port=POSTGRES_PORT,dbname=POSTGRES_DBNAME)
# Create the connection
cnn = create_engine(postgres_str)
#conn=p.connect(dbname='test', user='postgres', host='postgresdb', password='12345', port=5432)

pd.read_sql_query('SELECT * FROM test;', cnn)

Empty DataFrame
Columns: [id]
Index: []